VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_CONTACT_EMAIL=
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADAKS1SGmd6BNxYV

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_JWT_SECRET=

